/* Place CSS styles here */
html {
    box-sizing: border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

body{
    color: #fdfdfd;
    font-size: 20px;
    background-color: #1a1a1a;
    overflow-x: hidden;
}

h1 {
    font-size: 3vw;
}

h2 {
    font-size: 4vw;
}

p{
    font-size: 2vw;
}

@media screen and (max-width: 768px) {
    p{
        font-size: 3vw;
    }
    h1 {
        font-size: 7vw;
    }
}

li{
    list-style: none;
}

.bordercontainer{
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
    color: #1a1a1a;
}

main{
    margin: auto;
}

header{
    min-height: 10vh;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #1a1a1a;
    padding: 0, 10px;
}

.navbar {
    align-items: center;
    background-color: #1a1a1a;
    padding: 1rem;
    justify-content: space-between;
    display: flex;
}

.anav{
    text-decoration: none;
    color:#fdfdfd;
    font-size: 1rem;
}

.main-menu{
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
}

.logo{
    max-width: 15%;
    height: auto;
    padding-right: 10px;
}

@media screen and (max-width: 768px) {
    .logo {
        display: none;
    }
}

.logo-and-name{
    display: inline-flex;
    align-items: center;
}

.body-d-flex-column{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 100vw;
}

footer{
    background-color: #5d5dc4;
    text-align: center;
    align-content: center;
    padding: 1px, 0px;
    min-height: 40px;
}



.offcanvas-nav {
    position: relative; /* To position the menu within */
}

.menu {
    position: fixed; /* Fixed position for overlay effect */
    top: 0;
    left: 0;
    height: 100%;
    width: 300px;
    background-color: #1a1a1a;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
    transform: translateX(-100vw);
    transition: 0s;
    color: #fdfdfd;
}

.menu a{
    color: #fdfdfd;
    list-style: none;
    text-decoration: none;
    font-size: 2vw;
}

.menu a:hover{
    color:#5d5dc4;
}

.menu.expanded {
    transform: translateX(0); /* Slide in when expanded */
}
.menu-toggle {
    color: #1a1a1a;
    background-color: #fdfdfd;
    border-radius: 20px;
    width: 4rem;
    padding: 10px;
    text-align: center;
    justify-content: center;
    cursor: pointer;
    border: #fdfdfd;
}

.menu-toggle:hover{
    background-color: #5d5dc4;
    color: #fdfdfd;
}

@media (min-width: 768px) {
    .offcanvas-nav {
    display: block; 
    }

.menu {
    display: flex; /* Ensure menu is visible on larger screens */
    gap: 3rem;
    position: static; /* Remove fixed positioning */
    width: auto;
    transform: none;
    box-shadow: none;
    transition: none;
}
.menu-toggle {
    display: none;
}

}

.buttondiv{
    display: flex;
    gap: 10px;
    justify-content: center;
    margin: 1rem;
}

.button-style1{
    min-width: 200px;
    color: #fdfdfd;
    background-color: #1a1a1a;
    border: #fdfdfd;
    border-radius: 25px;
    padding: 10px;
    font-weight: 100;
    cursor: pointer;
}

.button-style1:hover{
    background-color: #fdfdfd;
    color:#1a1a1a;
}
.button-style2:hover{
    background-color: #fdfdfd;
}

.button-style2{
    min-width: 200px;
    color: #1a1a1a;
    background-color: #5d5dc4;
    border: #fdfdfd;
    border-radius: 25px;
    padding: 10px;
    font-weight: 100;
    cursor: pointer;
}

@media (max-width: 768px){
    .buttondiv{
        display: flex;
        flex-direction: column;
    }
    .button-style1{
        font-size: 3vw;
    }
    .button-style2{
        font-size: 3vw;
    }

}

.hero{
    color: #1a1a1a;
    min-height: 90vh;
    position: relative;
    width: 100%;
    z-index: 1;
}

/* Hero Image */
.hero-image {
    width: 100vw;
    height: 90vh;
    object-fit: cover;
}

/* Overlay Content */
.hero-overlay {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 40vh;
    text-align: center;
    color: white;
    background: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
}

.tryhamburger {
    display: none;
    font-size: 3rem;
    color: #fdfdfd;
    cursor: pointer;
}

#trymenu-toggle {
    display: none;
}

.trymenu{
    display: none;
}

@media (max-width: 768px) {
    .tryhamburger{
        display: block;
    }
    
    .trymenu{
        display: none;
        flex-direction: column;
        gap: 2rem;
        position: absolute;
        top: 5vh;
        width: 30vw;
        background-color: #1a1a1a;
        text-align: left;
        height: 20vh;
        text-decoration: none;
        color:#fdfdfd;
        padding-top: 40px;
        padding-bottom: 40px;
        padding-right: 40px;
        border-bottom-left-radius: 25px;
    }

    .trymenu a{
        color: #fdfdfd;
        text-decoration: none;
        font-size: 1rem;
    }

    #trymenu-toggle:checked + .tryhamburger + .trymenu {
        display: flex;
    }
}