/* Place CSS styles here */
html {
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    color: #fdfdfd;
    font-size: 20px;
}

h1 {
    font-size: 3vw;
}

p{
    font-size: 2vw;
}

@media screen and (max-width: 768px) {
    p{
        font-size: 3vw;
    }
    h1 {
        font-size: 7vw;
    }
}

li{
    list-style: none;
}

.bordercontainer{
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
    color: #1a1a1a;
}

main{
    margin: auto;
}

.navbar {
    align-items: center;
    background-color: #1a1a1a;
    min-height: 10vh;
    padding: 10px;
    justify-content: space-between;
    display: flex;
}

.anav{
    text-decoration: none;
    color:#fdfdfd;
    font-size: 2.2vw;
}

.main-menu{
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
}

.d-flex{
    display: flex;
}

.fullwidthhero{
    max-width: 100vw;
}

.logo{
    max-width: 20%;
    height: auto;
    padding-right: 10px;
}

.logo-and-name{
    display: inline-flex;
    align-items: center;
}

.body-d-flex-column{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer{
    background-color: #5d5dc4;
    text-align: center;
    align-content: center;
    padding: 1px;
    min-height: 40px;
}